@model IEnumerable<HappyFish.TankEnvironment>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EventTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PH)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ammonia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Oxygen)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Conductivity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Temperature)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Code)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EventTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PH)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ammonia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Oxygen)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Conductivity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Temperature)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TankEnvironmentId }) |
            @Html.ActionLink("Details", "Details", new { id=item.TankEnvironmentId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TankEnvironmentId })
        </td>
    </tr>
}

</table>
